@import 'variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Inter', sans-serif;
    font-size: var(--et-sdk-font-size-normal);
    font-weight: var(--et-sdk-font-weight-normal);
}