@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #FFFFFF;
    --off-white: #F5F5F5;
    --dark-white: #DDDDDD;

    --red-light: #e37b7c;
    --red: #D53C3E;
    --red-dark: #CC2C2E;

    --purple-light: #c8a0bf;
    --purple: #914281;
    --purple-dark: #883F79;

    --yellow-light: #FFE581;
    --yellow: #FFCB03;
    --yellow-dark: #F4C205;

    --green-light: #E8F8F0;
    --green: #24B161;
    --green-dark: #339532;

    --background: #F4F5F7;

    --grey-light: #8A8C93;
    --grey-dark: #292C30;

    --blue-light: #d0e2f6;
    --blue: #1670D3;
    --dark-blue: #1569C6;

    --danger-light: var(--red-light);
    --danger: var(--red);
    --danger-dark: var(--red-dark);

    --premium-light: var(--purple-light);
    --premium: var(--purple);
    --premium-dark: var(--purple-dark);

    --success-light: var(--green-light);
    --success: var(--green);
    --success-dark: var(--green-dark);

    --warning-light: var(--yellow-light);
    --warning: var(--yellow);
    --warning-dark: var(--yellow-dark);

    --primary-light: var(--blue-light);
    --primary: var(--blue);
    --primary-dark: var(--dark-blue);
}

@layer components {
    .sizing__xs {
        @apply h-4 px-4 text-xs leading-3;
    }

    .sizing__s {
        @apply h-8 px-8 text-sm;
    }

    .sizing__m {
        @apply h-12 px-12 text-base;
    }

    .sizing__l {
        @apply h-16 px-16 text-lg;
    }

    .button-type__default {
        @apply bg-grey text-white border-grey;
    }

    .button-type__primary {
        @apply bg-primary text-white border-primary;
    }

    .button-type__success {
        @apply bg-success text-white border-success;
    }

    .button-type__danger {
        @apply bg-danger text-white border-danger;
    }

    .button-type__warning {
        @apply bg-warning text-white border-warning;
    }

    .button-type__premium {
        @apply bg-premium text-white border-premium;
    }

    .button-type__default__hover {
        @apply hover:bg-grey-dark hover:text-white-off hover:border-grey-dark;
    }

    .button-type__primary__hover {
        @apply hover:bg-primary-dark hover:border-primary-dark;
    }

    .button-type__success__hover {
        @apply hover:bg-success-dark hover:border-success-dark;
    }

    .button-type__danger__hover {
        @apply hover:bg-danger-dark hover:border-danger-dark;
    }

    .button-type__warning__hover {
        @apply hover:bg-warning-dark hover:border-warning-dark;
    }

    .button-type__premium__hover {
        @apply hover:bg-premium-dark hover:border-premium-dark;
    }

    .button-type__default__disabled {
        @apply bg-grey-light text-white-off border-grey-light;
    }

    .button-type__primary__disabled {
        @apply bg-primary-light border-primary-light;
    }

    .button-type__success__disabled {
        @apply bg-success-light border-success-light;
    }

    .button-type__danger__disabled {
        @apply bg-danger-light border-danger-light;
    }

    .button-type__warning__disabled {
        @apply bg-warning-light border-warning-light;
    }

    .button-type__premium__disabled {
        @apply bg-premium-light border-premium-light;
    }
}