:root {
    --et-sdk-light-0: #ffffff;
    --et-sdk-light-100: #f3f4f6;
    --et-sdk-light-200: #f8fafc;

    --et-sdk-dark-100: #f1f5f9;
    --et-sdk-dark-200: #e2e8f0;
    --et-sdk-dark-600: #334155;
    --et-sdk-dark-800: #1e293b;
    --et-sdk-dark-900: #0f172a;

    --et-sdk-shadow-normal: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);

    --et-sdk-font-size-small: 12px;
    --et-sdk-font-size-normal: 14px;
    --et-sdk-font-size-large: 20px;

    --et-sdk-font-weight-normal: 500;
    --et-sdk-font-weight-semibold: 600;
    --et-sdk-font-weight-bold: 700;

    --et-sdk-top-bar-height: 66px;

    --et-sdk-left-menu-width-open: 290px;
    --et-sdk-left-menu-width-closed: 50px;

    --et-sdk-drawer-width: 330px;

    --et-sdk-section-header-height: 80px;
}