:root {
    --et-sdk-light-0: #ffffff;
    --et-sdk-light-100: #f8fafc;

    --et-sdk-dark-50: var(--et-sdk-light-100);
    --et-sdk-dark-100: #f1f5f9;
    --et-sdk-dark-200: #e2e8f0;
    --et-sdk-dark-300: #cbd5e1;
    --et-sdk-dark-400: #94a3b8;
    --et-sdk-dark-500: #6b7280;
    --et-sdk-dark-600: #334155;
    --et-sdk-dark-800: #1e293b;
    --et-sdk-dark-900: #0f172a;

    --et-sdk-blue-50: #eff6ff;
    --et-sdk-blue-100: #dbeafe;
    --et-sdk-blue-300: #93c5fd;
    --et-sdk-blue-400: #60a5fa;
    --et-sdk-blue-600: #2563eb;
    --et-sdk-blue-700: #1d4ed8;

    --et-sdk-success-100: #d1fae5;
    --et-sdk-success-300: #6ee7b7;
    --et-sdk-success-500: #10b981;
    --et-sdk-success-700: #047857;

    --et-sdk-danger-50: #FEF2F2;
    --et-sdk-danger-100: #ffe4e6;
    --et-sdk-danger-300: #fda4af;
    --et-sdk-danger-500: #f43f5e;
    --et-sdk-danger-700: #be123c;

    --et-sdk-red-600: #DC2626;

    --et-sdk-warning-100: #fef3c7;
    --et-sdk-warning-300: #fcd34d;
    --et-sdk-warning-500: #f59e0b;
    --et-sdk-warning-700: #b45309;

    --et-sdk-shadow-normal: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);
    --et-sdk-shadow-large: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    --et-sdk-shadow-normal-inset: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);

    --et-sdk-font-size-tiny: 10px;
    --et-sdk-font-size-small: 12px;
    --et-sdk-font-size-normal-s: 13px;
    --et-sdk-font-size-normal: 14px;
    --et-sdk-font-size-large: 16px;
    --et-sdk-font-size-extra-large: 20px;

    --et-sdk-font-weight-normal: 500;
    --et-sdk-font-weight-semibold: 600;
    --et-sdk-font-weight-bold: 700;

    --et-sdk-top-bar-height: 66px;

    --et-sdk-left-menu-width-open: 290px;
    --et-sdk-left-menu-width-closed: 50px;

    --et-sdk-drawer-width: 330px;

    --et-sdk-section-header-height: 80px;
}